/* RESET RULES  */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul, ol {
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

img {
    max-width: 100%;
}

html {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
}

/* LAYOUT  */

.container-fluid {
    max-width: 100%;
    margin: 0 auto;
    padding: 0px 15px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 15px;
}

.container-sm {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0px 15px;
}

.row {
	display: flex;
	flex-wrap: wrap;
    row-gap: 50px;
}

.row > * {
	padding: 0px 25px;
}

.row.no-gutter > * {
	padding: 0px;
}

.col-100 {
    width: 100%;
}

.col-60 {
    width: 60%;
}

.col-40 {
    width: 40%;
}

.col-33 {
    width: calc(100% / 3);
}

.col-16 {
    width: calc(100% / 6);
}

.col-15 {
    width: calc(100% / 5);
}

.button {
    line-height: 30px;
    padding: 12px;
    text-align: center;
}

.button.blue {
    color: white;
    background-color: rgb(0,97,255);
}

.button.white {
    color: black;
    background-color: white;
    border: 1px solid black;
    padding: 12px 20px;
}

.button.sm {
    padding: 7px 14px;
}

li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

i {
    margin: 10px 5px;
}

li i {
    margin-right: 15px;
}

/* HEADER  */

.row.hdr {
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.row.hdr ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-fluid .menu a {
	display: block;
	line-height: 34px;
	padding: 0px 16px;
}

.menu li {
    padding: 0px;
}

.logo.hdr {
    display: block;
    height: 25px;
}

/* HERO SECTION  */

.hero {
    background-color: rgb(180,208,231);
    padding-bottom: 50px;
}

.hero .container .row {
    gap: 30px;
}

.hero-title {
    font-size: 55px;
    font-weight: 800;
}

.hero .col-100 {
    padding: 80px 0px;
}

.hero .col-33 {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    gap: 35px;
    padding: 0px;
}

.hero-arrow > .fa-solid.fa-arrow-down {
    font-size: 50px;
    padding-top: 100px;
}

/* PLANS SECTION  */

.plans {
    padding: 75px 0px;
}

.title {
    font-size: 35px;
    padding: 35px 0px;
}

.subtitle {
    font-size: 25px;
}

.plans-hdr {
    padding-bottom: 50px;
}

input {
    padding-right: 25px;
}

.plans-btn {
    margin-right: 30px;
    display: inline-block;
}

.plans-card hr {
    border: none;
    height: 1px;
    background-color: rgb(219,219,221);
}

.plans .plans-card {
    border: 1px solid rgb(219,219,221);
    height: 100%;
}

.plans-card-user {
    text-align: center;
}

.plans-card-main {
    display: flex;
    flex-flow: column;
    gap: 35px;
    padding: 25px;
}

.plans-card-ftr {
    padding: 25px 0px;
    display: flex;
    flex-flow: column;
    gap: 35px;
}

.buy-now {
    text-decoration: underline;
    color: rgb(0,97,255);
}

.buy-now-line {
    border: none;
    background-color: rgb(219,219,221);
    width: 25%;
}

.fa-lg {
    color: rgb(0,97,255);
}

.buy-now-section {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    gap: 35px;
}

/* FIND PARTNER SECTION  */

.find-partner-section {
    padding: 75px 0px;
}

.find-partner-section .row {
    align-items: center;
}

.find-partner-section .col-40 {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 35px;
}

/* DEBUG  */

.debug.hero {
    border: 1px solid black;
}

.debug.hero .row > * {
    border: 1px solid black;
    min-height: 400px;
}

.debug [class^='col-'] {
    border: 1px solid cornflowerblue;
} 

.debug.container {
    border: 1px solid black;
}

.debug.plans-choice {
    border: 1px solid black;
}

.debug.container-sm {
    border: 1px solid black;
}

.debug.plans-choice .row > * {
    border: 1px solid black;
    min-height: 400px;
}

.debug.plans-choice .plans-card {
    border: 1px solid black;
    min-height: 300px;
} 