:root {
	--blue: #0061ff;
	--light-blue: #b4d0e7;
	--light-gray: #e3e1e1;
	--black: #000000;
	--white: #ffffff;
    --light-green: #A2D39B;
    --very-light-green: #d1e9cd; 
    --acqua-blue: #0093CE;
    --grapevine-red: #61082B;
    --red: #FF1C1C;
    --dark-red: #D5001F;
    --dark-blue: #0D2481;
    --dark-yellow: #FFD830;
    --grey: grey; 
}

/* RESET RULES  */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul, ol {
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

img {
    max-width: 100%;
}

html {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
}

/* LAYOUT  */

.container-fluid {
    max-width: 100%;
    margin: 0 auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 15px;
}

.container-sm {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0px 15px;
}

.row {
	display: flex;
	flex-wrap: wrap;
    row-gap: 50px;
}

.row > * {
	padding: 0px 25px;
}

.row.no-gutter > * {
	padding: 0px;
}

.col-100 {
    width: 100%;
}

.col-60 {
    width: 60%;
}

.col-40 {
    width: 40%;
}

.col-33 {
    width: calc(100% / 3);
}

.col-16 {
    width: calc(100% / 6);
}

.col-15 {
    width: calc(100% / 5);
}

.button {
    line-height: 30px;
    padding: 12px;
    text-align: center;
}

.button.blue {
    color: white;
    background-color: var(--blue);
}

.button.white {
    color: var(--black);
    background-color: white;
    border: 1px solid black;
    padding: 12px 20px;
}

.button.sm {
    padding: 7px 14px;
}

li {
    display: flex;
    align-items: baseline;
    margin-bottom: 20px;
}

i {
    margin: 10px 5px;
}

li i {
    margin-right: 15px;
}

/* HEADER  */

.row.hdr {
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.row.hdr ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-fluid .menu a {
	display: block;
	line-height: 34px;
	padding: 0px 16px;
}

.menu li {
    padding: 0px;
    margin: 0px;
}

.logo.hdr {
    display: block;
    height: 25px;
}

/* HERO SECTION  */

.hero {
    background-color: var(--light-blue);
    padding-bottom: 50px;
}

.hero .container .row {
    gap: 30px;
}

.hero-title {
    font-size: 55px;
    font-weight: 800;
}

.hero .col-100 {
    padding: 80px 0px;
}

.hero .col-33 {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    gap: 35px;
    padding: 0px;
}

.hero-arrow > .fa-solid.fa-arrow-down {
    font-size: 50px;
    padding-top: 100px;
}

/* PER FAR SBORDARE IMMAGINE  */
/* .jumbo-img {
    margin-bottom: -100px;
} */



/* PLANS SECTION  */

.plans {
    padding: 75px 0px;
}

.title {
    font-size: 35px;
    padding: 45px 0px;
}

.subtitle {
    font-size: 25px;
    padding: 25px 0px;
}

.plans-hdr {
    padding-bottom: 50px;
}

.plans hr {
    border: none;
    height: 1px;
    background-color: var(--light-gray);
}

input {
    padding-right: 25px;
}

.plans-btn {
    margin-right: 30px;
    display: inline-block;
}

.space-line  {
    border: none;
    height: 1px;
    background-color: var(--black);
    width: 30%;
}

.plans .plans-card {
    border: 1px solid var(--light-gray);
    height: 100%;
}

.plans-card-user {
    text-align: center;
}

.plans-card-main {
    display: flex;
    flex-flow: column;
    gap: 35px;
    padding: 25px;
}

.plans-card-ftr {
    padding: 25px 0px;
    display: flex;
    flex-flow: column;
    gap: 35px;
}

.buy-now {
    text-decoration: underline;
    color: var(--blue);
}

.fa-lg {
    color: var(--blue);
}

.buy-now-section {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    gap: 35px;
}

/* FIND PARTNER SECTION  */

.find-partner-section {
    padding: 75px 0px;
}

.find-partner-section .row {
    align-items: center;
}

.find-partner-section .col-40 {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 35px;
}

/* DROPBOX USERS SECTION  */

.users {
    padding: 100px 0px;
}

.customers-link {
    color: var(--blue);
    text-decoration: underline;
}

/* SPONSOR SECTION  */

.no-padding-row > * {
    padding: 0px;
}

.sponsor-card.border-green {
    box-shadow: inset 0 0 0 15px var(--very-light-green);
}

.col-16 .sponsor-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%; 
    aspect-ratio: 1 / 1;
    padding: 45px;
}

.col-33 .sponsor-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;  /* 100% della larghezza del contenitore con aspect radio da quadrato */
    aspect-ratio: 1 / 1;
    padding: 45px;
    gap: 30px;
}

.sponsor-logo {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(335deg) brightness(104%) contrast(101%);
    /* filter: invert(1) */
}

.sponsor img {
    width: 100%;
}

.big-logo {
    width: 70%;
}

.space-line .sponsor {
    color: var(--black);
}

/* FREE TRIAL SECTION  */

.business-free-trial {
    background-color: var(--light-blue);
    padding: 100px 0px;
}

.business-free-trial .col-40 {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 35px 0px;
}

/* FAQ SECTION  */

.faq {
    padding: 100px 0px;
}

.space-line-faq {
    border: none;
    height: 1px;
    background-color: var(--light-gray);
}

.faq .col-100 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--light-gray);
    padding: 20px 0px;
}


/* FOOTER  */

.main-ftr {
    padding: 100px 0px 50px;
    background-color: var(--black);
    color: var(--white);
}

.main-ftr hr {
    border: none;
    height: 1px;
    background-color: var(--grey);
    margin-top: 50px;
    width: 60%;
}

.ftr-language {
    color: var(--grey);
    margin-top: 40px;
}

/* DEBUG  */

.debug.hero {
    border: 1px solid var(--black);
}

.debug.hero .row > * {
    border: 1px solid var(--black);
    min-height: 400px;
}

.debug [class^='col-'] {
    border: 1px solid cornflowerblue;
} 

.debug.container {
    border: 1px solid black;
}

.debug.plans-choice {
    border: 1px solid black;
}

.debug.container-sm {
    border: 1px solid black;
}

.debug.plans-choice .row > * {
    border: 1px solid black;
    min-height: 400px;
}

.debug.plans-choice .plans-card {
    border: 1px solid black;
    min-height: 300px;
} 

.debug.dropbox-features {
    border: 1px solid black;
}

.debug.dropbox-features .row > * {
    border: 1px solid black;
    min-height: 300px;
}

.debug .business-card > * {
    border: 1px solid black;
    min-height: 100px;
}

.debug.sponsor {
    border: 1px solid black;
}

.debug.sponsor .row > * {
    border: 1px solid black;
    min-height: 600px;
}

.debug .sponsor-card {
    border: 1px solid red;
    min-height: 300px;
}

.debug.main-ftr {
    border: 1px solid var(--dark-yellow);
}

.debug.main-ftr .row > * {
    border: 1px solid var(--dark-yellow);
    min-height: 400px;
}

/* MEGLIO DARE PADDING ALLE CARD E NON AI SINGOLI ELEMENTI  */

/* USARE CLASSE NO-GUTTER PER ROW,ECC NO PADDING  */